<div class="fields">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email%><br>
    <%= f.label :account_type, 'Account Type' %><br />
    <%= f.label :account_type, 'Counselor' %>
    <%= f.radio_button :account_type, 'counselor'%>
    <%= f.label :account_type, 'Teacher' %>
    <%= f.radio_button :account_type, 'teacher'%>
      <%= f.label :account_type, 'Student' %>
      <%= f.radio_button :account_type, 'student'%>
</div>